---
  - name: install php modules
    apt: pkg={{ item }} update_cache=yes cache_valid_time=3600
    sudo: True
    with_items:
      - php-fpm
      - php-mysql
      - php-cli
      - php-apcu
      - php-gd
      - php-imap
      - php-ldap
      - php-pear
      - php-xml
      - php-xmlrpc
      - libmagickwand-dev
      - libmagickcore-dev
      - php-mbstring
      - php-mcrypt
      - php-soap
      - php-bcmath
      - php-memcached
      - memcached
    notify:
        - restart php-fpm

  - name: ensure php-fpm is running
    systemd: name=php7.0-fpm state=started enabled=yes
    sudo: True

  - name: add cgi.fix_pathinfo=0 in /etc/php/7.0/fpm/php.ini
    lineinfile:
      path: /etc/php/7.0/fpm/php.ini
      regexp: '^;cgi.fix_pathinfo='
      line: 'cgi.fix_pathinfo=0'
    notify:
      - restart php7.0-fpm
    sudo: True
